/Vídeos/
Onlydata-features-1.csv
Onlydata-features-2.csv
Onlydata-features-3.csv
Onlydata-features-4.csv
features-1.csv
features-2.csv
features-3.csv
features-4.csv
codigos-fractal/Atributos_LAC_fractais.zip
